{% include 'header.html' %}  
  {% include 'navbar.html' %} 
  <!--{% include 'sidebar.html' %} -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- /.content-header -->

    <!-- /.content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <div class="card">
              <video width="100%" height="80%" style="width:100%; height: 80%;"autoplay>
                <source src="static/jeardane.mp4" type="video/mp4" >
              </video>
              
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Not a Trial Card 😊
    </div>
    <!-- Default to the left -->
    <marquee>Happy Weeksary My 💝</marquee>
     <!--<strong>NORMI</strong>: Payroll System and DTR using QRCode and Facial Recognition with Email and SMS Notification-->
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'face_js/cam_script.js') }}"></script>


<!-- AdminLTE App -->
<!-- <script src="{{ url_for('static', filename = 'plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'dist/js/adminlte.min.js') }}"></script>-->


</body>
</html>
